{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Acknowledgement</h1>
    <p>The RWQForecast system was funded by the <b>ERA-NET AquaticPollutants Joint Transnational Call (GA N◦ 869178)</b>. This ERA-NET is an integral part of the activities developed by the Water, Oceans, and AMR Joint Programming Initiatives.</p>
    <p>The RWQForecast system was developed as part of the <b>AIHABs consortium</b>, in collaboration with the following partners:
        <ul>
            <li>Technical University Dublin, Ireland</li>
            <li>University of South Bohemia in České Budějovice, Czech Republic</li>            
            <li>Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences, Germany</li>
            <li>Universidad Santiago de Compostela, Spain</li>
            <li>Universidad Autónoma de Madrid, Spain</li>
            <li>Norwegian University of Science and Technology, Norway</li>
            <li>International Iberian Nanotechnology Laboratory - INL, Portugal</li>
        </ul>
    </p>
    <p>The RWQForecast system was supported by the following partners:
        <ul>
            <li>Povodí Vltavy, State Enterprise, Czech Republic</li>
            <li>Povodí Labe, State Enterprise, Czech Republic</li>
            <li>Povodí Ohře, State Enterprise, Czech Republic</li>
        </ul> 
    </p>
    
    <p>Our thanks belongs to our colleagues for their help.</p>

</div>


{% endblock%}