{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Acknowledgement</h1>
    <p>The RWQForecast system was funded by the <b>ERA-NET AquaticPollutants Joint Transnational Call (GA N◦ 869178)</b>. This ERA-NET is an integral part of the activities developed by the Water, Oceans, and AMR Joint Programming Initiatives.</p>
    <p>The RWQForecast system was developed as part of the <b>AIHABs consortium</b>, in collaboration with the following partners:
        <ul>
            <li>Technical University Dublin, Ireland - Dr. Ahmend Elsidig Nasr (Head of the project)</li>
            <li>University of South Bohemia in České Budějovice, Czech Republic (Dr. Jakub Brom)</li>            
            <li>Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences, Germany (Dr. Mohammedmehdi Saberioon)</li>
            <li>Universidad Santiago de Compostela, Spain (prof. Fernando Cobo)</li>
            <li>Universidad Autónoma de Madrid, Spain (prof. Antonio Quesada del Coral</li>
            <li>Norwegian University of Science and Technology, Norway (Dr. Marcos Xosé Álvarez-Cid</li>
            <li>International Iberian Nanotechnology Laboratory - INL, Portugal (Dr. Begoña Espiña)</li>
        </ul>
    </p>
    <p>The RWQForecast system was supported by the following partners from the Czech Republic:
        <ul>
            <li>Povodí Vltavy, State Enterprise, Czech Republic</li>
            <li>Povodí Labe, State Enterprise, Czech Republic</li>
            <li>Povodí Ohře, State Enterprise, Czech Republic</li>
        </ul> 
    </p>
    
    <p>Our thanks belongs to our colleagues for their help.</p>

</div>


{% endblock%}