{% extends "base.html" %}
{% block content %}

<div class="container">

    <h1>Contacts</h1>

    <p><b>University of South Bohemia in České Budějovice</b><br>
        Branišovská 1645/31a<br>
        370 05 České Budějovice<br>
        Czech Republic<br>
        <br>
        <img src="/static/images/loga/JU.png" alt="JCU" height="100">
        <br>
    </p>
    </br>
    <p>
        <b>University of South Bohemia in České Budějovice<br>
        Faculty of Agriculture and Technology</b><br>
        Studentská 1668<br>
        370 05 České Budějovice<br>
        Czech Republic<br>
        <br>
        <img src="/static/images/loga/FZT.png" alt="FZT" height="100">
        <br>
    </p>
    </br>
    <p>
        <b>University of South Bohemia in České Budějovice<br>
        Faculty of Fishery and Water Protection</b><br>
        Zátiší 728/II<br>
        389 25 Vodňany<br>
        Czech Republic<br>
        <br>
        <img src="/static/images/loga/FROV.png" alt="FROV" height="100">
        <br>
    </p>
    </br>
    <p>
        <h2>Project board (the Czech part)</h2>
        <b>doc. Ing. Jakub Brom, Ph.D.</b><br>
        Head of the project, AI, app development<br>
        E-mail: <a href=mailto:jbrom@fzt.jcu.cz>jbrom@fzt.jcu.cz</a><br>
        <br>

        <b>Ing. Petr Císař, Ph.D.</b><br>
        Models development, AI<br>
        E-mail: cisar@frov.jcu.cz<br>
        <br>

        <b>Ing. Václav Nedbal, Ph.D.</b><br>
        Field data sampling, remote sensing<br>
        E-mail: nedbav@fzt.jcu.cz<br>
        <br>
        
        <b>Mgr. Blanka Tesařová</b><br>
        Laboratory analysis<br>
        E-mail: tesarovab@fzt.jcu.cz<br>
        <br>
        
        <b>MSc. Mohammad Mehdi Ziaei</b><br>
        Models development, AI<br>
        E-mail: ziaei@frov.jcu.cz<br>
        <br>
        <b>Ing. Jan Kuntzman</b><br>
        Field data sampling, laboratory analysis<br>
        E-mail: kuntzj@fzt.jcu.cz<br>
    </p>

</div>

{% endblock%}