{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
    
        <h2>Copernicus DataSpace Ecosystem Credentials</h2>

        </br
        <p><mark><b>For further analysis is necessary to set up the Copernicus DataSpace Ecosystem (CDSE) Credentials!</b></mark></p>
        </br

        <p>Copernicus DataSpace Ecosystem is a cloud-based platform that provides access to a wide range of Earth observation data and services. It enables users to discover, access, and analyze data from various sources, including satellite imagery, climate data, and more.</p>

        <p>OpenEO Client Credentials provided by the Copernicus DataSpace Ecosystem enable access to data from the system and are essential for further analysis. Detailed information on Client Credentials and how to obtain them can be found <a href="/oeo_credentials_howto">here</a> and <a href="https://documentation.dataspace.copernicus.eu/APIs/SentinelHub/Overview/Authentication.html#registering-oauth-client" target="_blank" rel="noopener noreferrer">here</a>.</p>

    </br>

    </div>


    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow p-4" style="width: 350px;">
            <h3 class="text-center">CDSE Credentials</h3>
            <div class="mb-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ messages[0][1] }}
                    </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
    
                <form method="POST" action="/get_oeo_credentials">
                    <div class="mb-3">
                        <label for="clid" class="form-label">Client ID</label>
                        <input type="text" class="form-control" id="clid" name="clid" placeholder="Add client ID">
                    </div>
    
                    <div class="mb-3">
                        <label for="clse" class="form-label">Client secret</label>
                        <input type="text" class="form-control" id="clse" name="clse" placeholder="Add client secret">            
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Authenticate</button>
                    <a href="/oeo_credentials_howto">How to?</a>
                </form>
            </div>
        </div>
    </div>

</body>

{% endblock %}