{% extends "base.html" %}
{% block content %}

<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 350px;">
            <h3 class="text-center">OpenEO authenticate</h3>
            <div class="mb-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ messages[0][1] }}
                    </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
    
                <form method="POST" action="/get_oeo_credentials">
                    <div class="mb-3">
                        <label for="clid" class="form-label">Client ID</label>
                        <input type="text" class="form-control" id="clid" name="clid" placeholder="Add client ID">
                    </div>
    
                    <div class="mb-3">
                        <label for="clse" class="form-label">Client secret</label>
                        <input type="text" class="form-control" id="clse" name="clse" placeholder="Add client secret">            
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Authenticate</button>
                    <a href="/oeo_credentials_howto">How to?</a>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}