{% extends "base.html" %}
{% block content %}


<div class="container">    

	<div class="row">

        <!-- Sidebar (Scrollspy menu) -->
        <div class="col-lg-3 d-none d-lg-block">
            <div class="position-sticky" style="top: 70px;">
            <h2 class="mb-4">Gallery</h2>
            <div id="gallery-list" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Water quality maps</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Water quality time series</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Tables and user interface</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Photos</a>
                </div>
            </div>
        </div>

       <!-- Main content -->
        <div class="col-12 col-lg-9">
            <div data-bs-spy="scroll" data-bs-target="#gallery-list" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0" style="position: relative; height: 100vh; overflow-y: auto;">
                <h3 id="list-item-1" class="mb-4">Maps of water quality parameters in the reservoirs</h3>
                <div class="gallery">
                    {% for image in maps %}
                        <figure>
                            <img src="{{ url_for('static', filename='images/gallery/maps/' ~ image) }}" loading="lazy" alt="" />
                            <!-- <figcaption>Daytona Beach <small>United States</small></figcaption> -->
                        </figure>
                    {% endfor %}
                    
                </div>

                <h3 id="list-item-2" class="mb-4">Time series of water quality in reservoirs</h3>
                <div class="gallery">            
                    {% for image in graphs %}
                        <figure>
                            <img src="{{ url_for('static', filename='images/gallery/graphs/' ~ image) }}" loading="lazy" alt="" />
                            <!-- <figcaption>Daytona Beach <small>United States</small></figcaption> -->
                        </figure>
                    {% endfor %}
                </div>

                <h3 id="list-item-3" class="mb-4">Tables and User interface</h3>
                <div class="gallery">            
                    {% for image in tables %}
                        <figure>
                            <img src="{{ url_for('static', filename='images/gallery/tables/' ~ image) }}" loading="lazy" alt="" />
                            <!-- <figcaption>Daytona Beach <small>United States</small></figcaption> -->
                        </figure>
                    {% endfor %}
                </div>

                <h3 id="list-item-4" class="mb-4">Photos from terrain and laboratory</h3>
                <div class="gallery">            
                    {% for image in photos %}
                        <figure>
                            <img src="{{ url_for('static', filename='images/gallery/photos/' ~ image) }}" loading="lazy" alt="" />
                            <!-- <figcaption>Daytona Beach <small>United States</small></figcaption> -->
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
        <symbol id="close" viewBox="0 0 18 18">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
                    S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
                    l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
                    c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
                    s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z"/>
        </symbol>
        </svg>

        <script>
                popup = {
            init: function(){
                $('figure').click(function(){
                popup.open($(this));
                });
                
                $(document).on('click', '.popup img', function(){
                return false;
                }).on('click', '.popup', function(){
                popup.close();
                })
            },
            open: function($figure) {
                $('.gallery').addClass('pop');
                $popup = $('<div class="popup" />').appendTo($('body'));
                $fig = $figure.clone().appendTo($('.popup'));
                $bg = $('<div class="bg" />').appendTo($('.popup'));
                $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
                $shadow = $('<div class="shadow" />').appendTo($fig);
                src = $('img', $fig).attr('src');
                $shadow.css({backgroundImage: 'url(' + src + ')'});
                $bg.css({backgroundImage: 'url(' + src + ')'});
                setTimeout(function(){
                $('.popup').addClass('pop');
                }, 10);
            },
            close: function(){
                $('.gallery, .popup').removeClass('pop');
                setTimeout(function(){
                $('.popup').remove()
                }, 100);
            }
            }

            popup.init()

        </script>

    </div>
</div>


{% endblock %}