{% extends "base.html" %}
{% block content %}

<div class="container-flex main-content" style="background: url('static/images/bg/P5110677.JPG'); background-size: cover; background-position: center;">
    <div class="row w-100">

        <div class="col-md-8 main-column">
            <div>
                <h1>RWQForecast</h1>
                </br>

                <h3>Forecast of harmful algal blooms in freshwater reservoirs from Sentinel 2 satellite data</h3>
                
                <a href='/about'>Read more</a>
            </div>
        </div>

        <div class="col-md-4 side">
            <div>
                <h2>News</h2>
                <p>[2025-02-01] Registration and login/logout system added</p>
                <p>The RWQForecast says Hello World!</p>

                
            </div>
        </div>
    </div>

</div>

{% endblock%}