{% extends "base.html" %}
{% block content %}

<div class="container-flex main-content" style="background: url('static/images/bg/P5110677.JPG'); background-size: cover; background-position: center;">
    <div class="row w-100">

        <div class="col-md-8 main-column">
            <div>
                <h1 class="mb-4">RWQForecast</h1>

                <h3 class="mb-4">
                    Forecast of harmful algal blooms in freshwater reservoirs from Sentinel 2 satellite data
                </h3>

                <button type="button" class="btn btn-success btn-lg me-sm-2 mb-2" style="width: 250px;" onclick="window.location.href='/about'">
                    Read more
                </button>

                {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-success btn-lg me-sm-2 mb-2" style="width: 250px;" onclick="window.location.href='/results'">
                    Analysis
                </button>
                {% else %}
                <button type="button" class="btn btn-success btn-lg me-sm-2 mb-2" style="width: 250px;" onclick="window.location.href='/login'">
                    Login
                </button>
                {% endif %}

            </div>
        </div>

        <div class="col-md-4 side">
            <div>
                <h2>News</h2>
                <p>[2025-04-16] Gallery added.</p>
                <p>[2025-04-11] Frontend functionality finished.</p>
                <p>[2025-03-19] The application has been connected with calculation unit. The calculation of the ChlA ( testing model) is now available.</p>
                <p>[2025-03-19] Specific user selection of water reservoirs added 
                <p>[2025-03-14] CDSE authentication added
                <p>[2025-02-01] Registration and login/logout system added</p>
                <p>The RWQForecast says Hello World!</p>

                
            </div>
        </div>
    </div>

</div>

{% endblock%}