{% extends "base.html" %}
{% block content %}

<div class="container">
    
    <h2>Copernicus DataSpace Ecosystem Credentials</h2>

    <p><a href="https://dataspace.copernicus.eu/" target="_blank" rel="noopener noreferrer">Copernicus DataSpace Ecosystem (CDSE)</a>is a cloud-based platform that provides access to a wide range of Earth observation data and services. It enables users to discover, access, and analyze data from various sources, including satellite imagery, climate data, and more.</p>

    <p>OAuth Client Credentials enable access to data from the system and are essential for further analysis. Detailed information on Client Credentials and how to obtain them can be found <a href="https://documentation.dataspace.copernicus.eu/APIs/SentinelHub/Overview/Authentication.html#registering-oauth-client">here</a>.</p>

    <p>The access to the OAuth Client Credentials is here:</p>

    <button type="submit" class="btn btn-primary" onclick="window.open('https://shapps.dataspace.copernicus.eu/dashboard/#/account/settings', '_blank')">Get new CDSE Credentials</button>

</div>

{% endblock%}