{% extends "base.html" %}
{% block content %}

<div id="flash-messages"></div>
<!--
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
-->

<h1>Time series analysis</h1>

<div class="container-fluid" style="background-color: rgb(242, 242, 242);">
    <div class="row">

        <div class="col-12 gy-2 col-lg-3">
            <h2 class="mb-3">Locality and parameters selection</h2>   
                
                <form id="select-results" style="margin-top: 20px;">                   
                    <div class="mb-3">
                        <label for="res_name" class="form-label">Select reservoir name:</label>
                        <select class="form-select" id="sel_wr" name="res_name">
                            <option value="">Select reservoir from the list or from the map</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="wq_feature" class="form-label">Select water quality feature:</label>
                        <div class='input-group mb-3'>

                            <select class="form-select" id="select_wq" name="wq_feature" aria-describedby="select_wq_info_ts">
                                <option value="">Select water quality parameter</option>
                                <option value="ChlA">ChlA</option>
                                <option value="TSS">TSS</option>
                                <option value="PC">PC</option>
                                <option value="APC">APC</option>
                                <option value="PE">PE</option>
                                <option value="ChlB">ChlB</option>
                                <option value="CX">CX</option>
                            </select>

                            <span class="btn btn-outline-secondary" id="select_wq_info_ts" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                                </svg>
                            </span>

                        </div> 
                    </div>

                    <div class="mb-3">
                        <label for="model_name" class="form-label">Select prediction model:</label>
                        <select class="form-select" id="sel_model" name="model_name">
                            <option value="">Select prediction model</option>
                        </select>
                    </div>
                    
                </form>

            <div class="d-grid gap-2 mt-4">        
                <button type="button" class="btn btn-primary" id="confirm-btn">Confirm selection</button>
            </div>
            <div class="d-grid gap-2 mt-4 mb-4">     
                <button type="button" class="btn btn-success" id="update-btn">Update dataset</button>                
                <a href="/select" class="btn btn-success" id="new-wr-btn">Add new reservoir</a>
                <a href="/sp_analysis" class="btn btn-success" id="spat-btn">Spatial analysis</a>
            </div>                
            
        </div>
        <div class="col-12 col-lg-9" id="map_result", style="height: 650px;"></div>
    </div>
</div>

<div class="container-fluid" id="ts_results" style="display: none;">
    <div class="row gy-4 mt-4 mb-4">
  
      <!-- Levý sloupec: tabulka a tlačítka -->
      <div class="col-12 col-lg-3">
        <h2 class="mb-3">Water reservoir information</h2>
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tableBody"></tbody>
        </table>
  
        <h4 id="downl_ts_text" class="mt-4 mb-3" style="display: none;">Download data</h4>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-sm btn-secondary" id="downl-ts" style="display: none;">Download time series</button>
            <!--
            <button type="button" class="btn btn-sm btn-secondary" id="downl-fc" style="display: none;">Download forecast</button>
            -->
        </div>
      </div>
  
      <!-- Pravý sloupec: graf -->
      <div class="col-12 col-lg-9">     <!-- TODO: upravit na col-lg-4 -->
        <h2 class="mb-3">Time series</h2>
        <div id="ts_chart" style="width: 100%; min-height: 600px; display: none;"></div>
      </div>
  
      <!-- TODO: sloupec pro forecast -->
      <!--
      <div class="col-12 col-lg-4">
        <h2 class="mb-3">Forecast</h2>
        <div id="forecast_chart" style="width: 100%; min-height: 600px;"></div>
      </div>
        -->
  
    </div>
</div>

<script src="static/js/wqf_info.js">
    // rovide info about water quality features in a popover when the user clicks on the button
</script>

<script src="static/js/load_wr.js">
    //Loading the map and the reservoir data for users
</script>

<script src="static/js/select_wr_to_map.js">
    // Display the selected reservoir on the map    
</script>

<script src="static/js/select_models.js">
    // Načtení dat pro výběr modelu a vložení do selectboxu
</script>

<script src="static/js/zoom_map.js">
    // Zoom map to the selected reservoir    
</script>

<script src="static/js/ts-plots.js">
    // Načtení dat pro časovou řadu a vytvoření grafu průměru, mediánu a intervalů spolehlivosti    
</script>

<script src="static/js/results_websocket_connect.js">
    // Připojení k WebSocket serveru
</script>

<script src="static/js/fill-tab.js">
    // Načtení dat pro interpolaci a vytvoření grafu s interpolovanými hodnotami    
</script>

<script src="static/js/download_file.js">
    // Stažení GeoJson dat pro danou nádrž a datum
</script>

<script src="static/js/add_data_to_fields.js">
    // Vložení názvu nádrže do inputu #wr_selected ze select boxu #select_wq po kliknutí na tlačítko #confirm-btn
</script>

{% endblock%}